<div class="admin-title">
  <h1> Produits </h1>
</div>
<div class="admin-container">
    <div class="admin-cards">
      <% @products.each do |product| %>
          <div class="admin-card">
              <div class="texte-admin">
                <p><%= link_to product.name, product_path(product.id) %>,
                <%= product.price %> €,
                <%= product.description %>
                <% if product.published? %>
                  <p class="publier"><%= "[Publier] " %></p>
                <% else %>
                  <p class="npublier"><%= "[Pas publier] " %></p>
                <% end %></p>
                <%= link_to "Delete", {:controller => :products, :action => 'destroy', :id => product.id }, :method => :delete %>
              </div>
          </div>
      <% end %>
    </div>
</div>
