<div class="margin-top">
</div>


<div class="searchbar-index">
    <%= form_tag products_path, method: "get", id: "search-products-form" do %>
      <%= text_field_tag :name, params[:name], class: "form-control",
      placeholder: "Rechercher un produit", id: 'searchbar-products', value: params[:name] %>
      <%= select_tag :category, options_for_select([["Toute catégorie", nil], "Alimentaire", "Medicament", "Ingredient"], params[:category])%>
      <%= submit_tag "Filtrer", class: "btn-index" %>
    <% end %>
</div>

<div class="container-index">
    <div class="cards-index">
      <% @products.each do |product| %>
          <div class="card-index">
              <% if product.photo.present? %>
                <div class="photo-index" style="background: url('<%= product.photo %>')">
                </div>
              <% else %>
                <div class="photo-index" style="background: url('https://images.unsplash.com/photo-1503262028195-93c528f03218?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c3f919b2d1bf7d9a8d2746781dbea799&auto=format&fit=crop&w=1651&q=80');">
                </div>
              <% end %>
              <div class="texte-index">
                <h2><%= link_to product.name, product_path(product.id) %></h2>
                <p><%= product.description %></p>
                <p><%= product.price %> €</p>
              </div>
          </div>
      <% end %>
    </div>
</div>
