<div class="margin-top">
</div>
<div class="container-new">
  <div class="container-new-guide">
    <div class="new-product-guide">
      <h2> Bonne pratique </h2>
      <div class="new-li">
        <li> Produit a base de cdb </li>
        <li> Produit contenant - de 0,2% de thc </li>
        <li> Le produit sera publier après verification </li>
        <li> More blabla </li>
        <li> Coucou </li>
      </div>
    </div>
  </div>
  <div class="title-new">
    <h1>Ajouter un nouveau produit</h1>
  </div>
  <div class="new-input">
    <% if @product.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <%= simple_form_for @product do |f| %>
      <%= f.input :name, label: 'Nom du produit' %>
      <%= f.input :price, label: 'Prix' %>
      <%= f.input :description, label: 'Description' %>
      <%= f.input :stock, label: 'Stock' %>
      <%= f.association :category, as: :radio_buttons, label: 'Category' %>
      <%= f.input :photo, label: 'Photo du produit' %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit class: "btn-index" %>
    <% end %>
  </div>
</div>

