<div class="main-container-show">
  <div class="container-show">
    <div class="card-show">
        <div class="photo-show" style="background: url('https://images.unsplash.com/photo-1498766707495-856f300a5821?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fcbd78da5b0ccb1fcf6e54a2e5e51f63&auto=format&fit=crop&w=1651&q=80');">
        </div>
        <div class="texte-show">
          <h2><%= @product.name %></h2>
          <p> Description : <%= @product.description %></p>
          <p> Prix : <%= @product.price %> €/Unité (Gramme)</p>
          <form class="new_order_item" id="new_order_item" action="/order_items" accept-charset="UTF-8" method="post">
            <%= form_for @order_item do |f| %>
              <%= f.hidden_field :product_id, value: @product.id %>
              <%= f.number_field :quantity %>
              <%= f.submit "Ajouter au panier", class: "btn-index" %>
            <% end %>
          </form>
        </div>
    </div>
  </div>
  <div class="container-show">
    <div class="card-show">
        <div class="texte-show2">
          <h2> Detail produit </h2>
          <p>  Trois plantes sélectionnées pour rebord de fenêtre. Ces plantes sont facile d'entretien et élégant en même temps. Évitez suffisamment d'eau mais toujours de l'eau stagnante. Lorsque les plantes ont à peu d'eau, vous affichez la en vous laissons les feuilles, dès que l'eau d'arrosage a atteint les racines que se posent les feuilles à nouveau.Livré sans décoration.</p>
        </div>
        <div class="photo-show" style="background: url('https://images.unsplash.com/photo-1490370946242-34092dbf29f8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f2002284e8e33774dcf7aeda41d865fd&auto=format&fit=crop&w=1653&q=80');">
        </div>
    </div>
  </div>
  <div class="container-show">
    <div class="card-show">
        <div class="photo-show" style="background: url('https://images.unsplash.com/photo-1485199926533-8c38475abf2d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=04ad4e73fd0781209971426fab8a996b&auto=format&fit=crop&w=1650&q=80');">
        </div>
        <div class="texte-show2">
          <p>  S'occuper d'une plante est le genre de passe-temps que certains considèrent sans le moindre intérêt et quelque peu ennuyant... Pour rompre définitivement avec cette idée, nous vous proposons la dernière trouvaille dans le domaine du micro-jardin domestique : le kit CarnivoX ! Ceux qui ont une affection particulière pour les films d'horreur auront probablement déjà vu une plante carnivore à l'action, les autres se seront contentés d'un reportage « soft » lors d'une émission de fin de soirée. Si vous êtes d'une nature curieuse et passionné par les incroyables phénomènes de la nature, celui-ci vaut le détour, incontestablement. Ce kit contient en effet tout le nécessaire pour planter un véritable jardin de plantes carnivores... En tout cinq pots pouvant accueillir deux espèces de ces terribles prédateurs !</p>
        </div>
    </div>
  </div>
  <!-- <div class="container-review">
    <div class ="container-card-review">
      <div class="container-title-review">
        <h2 class="title-comments">Commentaires(<%= @product.reviews.count %>)</h2>
      </div>
      <div class="posted-review">
        <% if @product.reviews.any? %>
          <% @product.reviews.each do |r| %>
            <div class="review-card">
              <div class="review-name">
                <h4><%= current_user.first_name %></h4>
              </div>
              <div class="review-body">
                <p><%= r.content %></p>
              </div>
              <div class="review-rating">
                <p>Rating</p>
                <p><%= r.rating %>/5</p>
              </div>
          </div>
          <% end %>
          <p class="average-rating"><strong><%= @product.name %> has an average rating of
            <% average = @product.reviews.average("rating") %>
            <% if (average / average.floor) == 1 %>
              <%= average.round %>/5
            <% else %>
              <%= average.round(1) %>/5
            <% end %></strong>
          </p>
        <% else %>
          <p class="no-comments">There are no comments yet.</p>
        <% end %>
      </div>
    </div>
  </div>
   <div class="container-posted">
    <div class="posted-message">
      <div class="form-review">
        <h3><strong>Add a review :</strong></h3>
        <%= simple_form_for [ @product, @review ] do |f| %>
          <%= f.input :rating %>
          <%= f.input :content, as: :text, label: "Your review" %>
          <%= f.submit "Add a review", class: "submit" %>
        <% end %>
      </div>
    </div>
  </div> -->
</div>


